#scene {
    min-height: auto;
    height: 100vh;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    flex-grow: 1;
}

#sceneCanvas {
    height: 100%;
    width: 100%;
    background-color: #889900;
    display: flex;
}