.container {
    height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card {
    width: 30%;
    text-align: center;
}

mat-form-field {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
}

button {
    width: 40%;
    height: 40px;
}